*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}

#container {
    text-align: center;
    color: aliceblue;
    max-width: 100%;
}

#senha {
    padding:3px 28px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gloria Hallelujah', cursive;
}

button{
    border: none;
    padding: 2px 50px;
    font-size: 17px;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.548);
    margin: 13px auto;
    display: flex;
}

#carta{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 15px;
    color: aliceblue;
}

#number{
    font-size: 80px;
    letter-spacing: 12px;
}

#text1, #text2{
    font-size: 35px;
    letter-spacing: 12px;
}

#text1{
    margin-top: 80px;
}

#text3{
    font-size: 17px;
}